.user-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    padding: 10px 20px;
    gap: 10px;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.user-card:hover{
    height: 300px;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-card img{
    position: absolute;
    height: 150px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius:20px;
    background-color: white;
    box-shadow:0 15px 50px rgba(0, 0, 0, 0.35)
}
.info-container p{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;

}