nav{
    height: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
nav img{
    width: 100px;
    height: 50px;
}