.container-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.pagination--li {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: (var(--main-color));
}
.pagination--li:hover {
  color: var(--third-color);
}

.color {
  color: var(--third-color);
}
