.section-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
}
.container--search-bar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.container--search-bar input,
.container--search-bar select{
    padding: 5px 10px;
    border:2px solid var(--fourth-color);
    background-color:var(--main-color)
}
.container--search-bar select{
    cursor:pointer
}

.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.container-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 10px;
}
.container-user .img-user{
    height: 250px;
}
.section-relatedUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    gap: 60px;
}
.container-relatedUsers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 60px;
}
.container-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    font-size: 2rem;
    text-align: left;
    gap: 5px;
}
.container-home{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 500px;
}